{% extends "template.html" %}


{% block link %}

{% endblock %}

{% block head_bg %}
<!-- 焦点图 -->
<div class="header-banner">
  <!-- style="background:url({{url_for('static',filename='images/22.jpg')}}) ;" -->
  <a href="#" class="bg" ></a>
  <span class="text">这辆车……到底能不能上啊！！！</span>
  <!-- style="background:url({{url_for('static',filename='images/22.jpg')}}) ;" -->
  <a href="#" class="link"></a> 
</div>
{% endblock %}

{% block header_nav %}
<!-- 导航 -->
<div class="header-nav">
  <div class="nav-wrap auto-width clearfix">
    <a href="#" class="nav-item nav-cur">首页</a>
    {% for i in labels %}
      <a href="#" class="nav-item nav-item_hover" onclick="get()">{{i}}</a>
    {% endfor %}
    <a href="#" class="nav-rank">
      <i class="iconfont icon-rank"></i>
      全站排行榜
    </a>
  </div>


</div>
{% endblock %}

{% block main %}
<!---------- 主体内容 ---------->
<div id="main">
<div class="auto-width clearfix">
  
  <!-- 幻灯片部分 -->
  <section class="area clearfix area-slider">
    <div id="sliderBox" class="slider-box fl">
      <!-- for循环 -->
      <ul class="slider">
        {% for i in get_img() %}
        <li data-title="Picture {{i}}" class="slider-item"><a href="{{url_for('commic.comic',pk=i)}}"><img src="images/cont/slider-{{i}}.jpg" alt="#"></a></li>
        {% endfor %}
      </ul>
      <div class="btn-box">
        <a href="javascript:;" class="btn-item btn-item__active"></a>
        <a href="javascript:;" class="btn-item"></a>
        <a href="javascript:;" class="btn-item"></a>
        <a href="javascript:;" class="btn-item"></a>
        <a href="javascript:;" class="btn-item"></a>
      </div>
    </div>
    <!-- for循环 -->
    <ul class="slider-menu fl">
      {% for i in get_img() %}
      <li class="slider-menu__item">
        <a href="{{url_for('commic.comic',pk=i)}}" class="item">
          <img src="images/cont/slider-menu__{{i}}.jpg" alt="#">
          <div class="mask-gradient">
            <p>嗨呀！好气啊！OW堡傻缺集锦</p>
            <div class="text-box">
              <em>UP: AcFun出品</em>
              <span class="info">
                <i class="iconfont icon-collect">14.9万</i>
                <i class="iconfont icon-collect">165</i>
              </span>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <!-- 热门推荐 -->


  <!-- 动画 -->
  <section class="area clearfix area-game">
    <div class="area-cont">
      <div class="area-main fl">
        <header class="area-header">
          <h2 class="title">
            <img src="images/area-title__7.gif" alt="#">
            <b>热门漫画</b> 
            <em>大力喂蕉不要停</em>
          </h2>
          <!-- 需要实现换一批的功能 -->
          <!-- 简单实现：点击换一批用一个随机函数（设计为获取id与当前页视频id可相同）获取一些无重复id号，图片与路径根据id命名
          数据不需要放在数据库   -->
          <a href="#" class="change">
            <i class="iconfont icon-rank"></i>
            换一批
          </a>
          <!-- 显示更多 -->
          <a href="#" class="more">More ></a>
        </header>
        <div class="area-big">
          <a href="#" class="img">
            <img src="images/cont/area-menu__big.gif" alt="#">
            <i class="iconfont icon-play"></i>
            <span class="mask">
              <em class="time">4:47</em>
            </span>
          </a>
        </div>
        <!-- for循环 jinja2中for循环为：{% for i in xxx %}  {% endfor %} 然后那些格式类似的列表for循环给予i的值即可-->
        <ul class="area-menu clearfix">
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
          <li class="area-menu__item">
            <a href="#" class="img">
              <img src="images/cont/area-menu__1.jpg" alt="#">
              <span class="mask">
                <em class="time">4:47</em>
              </span>
              <span class="icon-recommend">推荐</span>
            </a>
            <div class="info">
              <a href="#" class="change-title">抢来的感情究竟能不能感到幸福？!</a>
              <span class="play-info clearfix">
                <i class="iconfont icon-play fl">2372</i>
                <i class="iconfont icon-collect fr">999</i>
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="area-side fr" JS-tab="true">
        <header class="area-header">
          <h2 class="title">
            <b>漫画排行榜</b>
          </h2>
          <div class="tab-rank tab fr">
            <a href="javascript:;" class="tab-rank__item active">日榜</a>
            <a href="javascript:;" class="tab-rank__item">周榜</a>
          </div>
        </header>
        <div class="side-rank">
          <!-- for循环 -->
          <ul class="tab-cont tab-cont__active">
            <li class="has-img">
              <a href="#" class="img fl">
                <img src="images/cont/side-img1.jpg" alt="#">
                <span class="rank">1</span>
              </a>
              <div class="info fr">
                <a href="#" class="text-overflow">2016年11月第3周碉堡傻缺视频合辑</a>
                <p><a href="#">UP: 关注撸主三十年</a></p>
                <p>
                  <i class="iconfont icon-play fl">9898</i>
                  <i class="iconfont icon-collect fr">9898</i>
                </p>
              </div>
            </li>
            <li class="has-img">
              <a href="#" class="img fl">
                <img src="images/cont/side-img1.jpg" alt="#">
                <span class="rank">2</span>
              </a>
              <div class="info fr">
                <a href="#" class="text-overflow">2016年11月第3周碉堡傻缺视频合辑</a>
                <p><a href="#">UP: 关注撸主三十年</a></p>
                <p>
                  <i class="iconfont icon-play fl">9898</i>
                  <i class="iconfont icon-collect fr">9898</i>
                </p>
              </div>
            </li>
            <li class="has-img last">
              <a href="#" class="img fl">
                <img src="images/cont/side-img1.jpg" alt="#">
                <span class="rank">3</span>
              </a>
              <div class="info fr">
                <a href="#" class="text-overflow">2016年11月第3周碉堡傻缺视频合辑</a>
                <p><a href="#">UP: 关注撸主三十年</a></p>
                <p>
                  <i class="iconfont icon-play fl">9898</i>
                  <i class="iconfont icon-collect fr">9898</i>
                </p>
              </div>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">4</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">5</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">6</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">7</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">8</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">9</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">10</span>
                微小而确实的幸福
              </a>
            </li>
          </ul>
          <!-- for循环 -->
          <ul class="tab-cont">
            <li class="has-img">
              <a href="#" class="img fl">
                <img src="images/cont/side-img2.jpg" alt="#">
                <span class="rank">1</span>
              </a>
              <div class="info fr">
                <a href="#" class="text-overflow">2016年11月第3周碉堡傻缺视频合辑</a>
                <p><a href="#">UP: 关注撸主三十年</a></p>
                <p>
                  <i class="iconfont icon-play fl">9898</i>
                  <i class="iconfont icon-collect fr">9898</i>
                </p>
              </div>
            </li>
            <li class="has-img">
              <a href="#" class="img fl">
                <img src="images/cont/side-img2.jpg" alt="#">
                <span class="rank">2</span>
              </a>
              <div class="info fr">
                <a href="#" class="text-overflow">2016年11月第3周碉堡傻缺视频合辑</a>
                <p><a href="#">UP: 关注撸主三十年</a></p>
                <p>
                  <i class="iconfont icon-play fl">9898</i>
                  <i class="iconfont icon-collect fr">9898</i>
                </p>
              </div>
            </li>
            <li class="has-img last">
              <a href="#" class="img fl">
                <img src="images/cont/side-img2.jpg" alt="#">
                <span class="rank">3</span>
              </a>
              <div class="info fr">
                <a href="#" class="text-overflow">2016年11月第3周碉堡傻缺视频合辑</a>
                <p><a href="#">UP: 关注撸主三十年</a></p>
                <p>
                  <i class="iconfont icon-play fl">9898</i>
                  <i class="iconfont icon-collect fr">9898</i>
                </p>
              </div>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">4</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">5</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">6</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">7</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">8</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">9</span>
                微小而确实的幸福
              </a>
            </li>
            <li>                  
              <a href="#" class="rank-item text-overflow">
                <span class="rank-num">10</span>
                微小而确实的幸福
              </a>
            </li>
          </ul>
        </div>
        <a href="#" class="more">查看完整榜单 ></a>
      </div>
    </div>
  </section>

  <!-- 广告 -->
  <div class="area clearfix area-ad">
    <a href="#" class="fl"><img src="images/cont/ad2.png" alt="#"></a>
    <a href="#" class="fr"><img src="images/cont/ad3.png" alt="#"></a>
  </div>

</div>
</div>
{% endblock %}

{% block footer %}
<!---------- 底部内容 ---------->
<div id="footer">
<div class="container auto-width">
  <div class="footer-top clearfix">
    <div class="footer-nav fl">
      <div class="item">
        <h4>合作</h4>
        <p>
          <a href="#">关于我们</a>
          <a href="#">联系我们</a>
          <br>
        </p>
      </div>
      <span class="line"></span>
      <span class="line"></span>
      <div class="item">
        <h4>下载</h4>
        <p>
          <a href="#" class="mg-0">移动客户端</a>
          <span class="new">new</span>
          <br>
          <a href="#">AC娘表情包</a>
        </p>
      </div>
      <span class="line"></span>
      <div class="item">
        <h4>链接</h4>
        <p>
          <a href="#">百度</a>
          <a href="#">哔哩哔哩</a>
        </p>
      </div>
      <span class="line"></span>
      <div class="item">
        <h4>反馈</h4>
        <p>
          <a href="#">意见反馈</a>
          <a href="#">举报</a>
          <a href="#">帮助中心</a>
          <br>
          <a href="#">免责声明</a>
          <a href="#">用户协议</a>
        </p>
      </div>
    </div>
    <div class="footer-img fr">
      <img src="images/footer-logo.gif" alt="#">
    </div>
  </div>
  <div class="footer-middle clearfix">
    <div class="item">
      <a href="#"><i class="icon icon-1"></i>中国互联网举报中心</a>
      <a href="#"><i class="icon icon-2"></i>网络文化经营单位</a>
    </div>
    <div class="item">
      <span>京8888888888号</span>
    </div>
    <div class="item">
      <span>节目制作经营许可证66666666666号</span>

    </div>
  </div>
  <div class="footer-bottom">
    <img src="images/logo-gray.png" alt="#">
    <p>本站不提供任何视听上传服务，所有内容均来自视频分享站点所提供的公开引用资源。********</p>
  </div>
</div>
</div>
{% endblock %}

{% block script %}

{% endblock %}