<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>

  <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='font/iconfont.css')}}">
  <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% block link %}

  {% endblock %}
</head>
<body style=" height: 2000px; ">

  <!---------- 顶部页面 ---------->
  <div id="header">

    <!-- 最顶部 -->
    <div class="header-top">
      <div class="auto-width">
        <h1 class="logo fl" ><a href="#"><img src="{{url_for('static',filename='images/logo.png')}}" style="vertical-align: top;" alt="#"></a></h1>
        <div class="search-box fl">
          <form action="{{url_for('commic.get_comic_list',page=1)}}" >
            <input type="text" class="fl search-text" name="comic_name" placeholder="Search here...">
            <button class="fl search-btn">
              <i class="iconfont icon-search"></i>
            </button>
          </form>
          <div class="search-feedback">
            <span class="search-hot">今日热搜</span>
            <div class="search-menu">
              <!-- for循环 -->
              <a href="#" class="item item-cur">
                <span>1</span>
                <em>OverWatch</em>
              </a>
              <a href="#" class="item item-cur">
                <span>2</span>
                <em>电影知道答案</em>
              </a>
              <a href="#" class="item item-cur">
                <span>3</span>
                <em>S6</em>
              </a>
              <a href="#" class="item">
                <span>4</span>
                <em>夏目友人帐</em>
              </a>
              <a href="#" class="item">
                <span>5</span>
                <em>微小而确实的幸福</em>
              </a>
              <a href="#" class="item">
                <span>6</span>
                <em>神盾局特工</em>
              </a>
              <a href="#" class="item">
                <span>7</span>
                <em>天凉好个秋</em>
              </a>
            </div>
          </div>
        </div>
        <ul class="header-guide fr">
          <li class="guide-item login">
            <a href="{{url_for('index')}}">首页</a>
          </li>
          <li class="guide-item login">
            {% if not get_username() %}
            <a href="{{url_for('login')}}">登录/注册</a>
            {% else %}
            <a >欢迎：{{get_username()}}</a>
            {% endif %}
          </li>
          <li class="guide-item history">
            <a href="#">
              <i class="iconfont icon-history"></i>
            </a>
            <div class="guide-hover">
              <span class="text">尚未记录任何历史信息。</span>
            </div>
          </li>
          <li class="guide-item collect">
            <a href="#">
              <i class="iconfont icon-collect"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% block head_bg %}

    {% endblock %}

    {% block header_nav %}

    {% endblock %}
  </div>

  {% block main %}
  <!---------- 主体内容 ---------->

  {% endblock %}

  {% block footer %}
  <!---------- 底部内容 ---------->

  {% endblock %}


  <a href="javascript:;" id="back_top" class="iconfont icon-up"></a>
  <script src="{{url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
  <script src="{{url_for('static',filename='js/script.js')}}"></script>
  <script src="{{url_for('static',filename='js/sliderbox.js')}}"></script>
  <script src="{{url_for('static',filename='js/tab.js')}}"></script>
  {% block script %}

  {% endblock %}
</body>
</html>